{% extends 'template_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% block extra_head %}
<style>
#id_choices{
  width:200px;
}
label{
  font-size:30px;
}
</style>
{% endblock %}
<h1 style="text-align:center;font-size:70px;"><b>Upload Statement</b></h1>
{% if user_access == 'No' %}
<h2>You cannot access this feature</h2>
{% else %}
<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <br>
  <button type="submit" style="background:#343a40;border-radius:10px;color:white;width:100px;">Submit</button>
</form>



<br>
{% if show_csv == "Yes" %}

{% if obj == 0 %}
  <h2>No previous record present corresponding to this account type</h2>
{% else %}
  <table class="table table-striped">
    <tr>
    <th>Trans ID</th>
    <th>Trans Date</th>
    <th>Desc</th>
    <th>Trans Value</th>
    <th>Balance</th>
  </tr>
  {% for i in obj %}
    <tr>
    <td>{{i.txnID}}</td>
    <td>{{i.txnDate}}</td>
    <td>{{i.txnDesc}}</td>
    <td>{{i.txnValue}}</td>
    <td>{{i.txnBalance}}</td>
    </tr>
  {% endfor %}
  </table>
{% endif %}


<br>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Upload a file</label>
    <br>
    <button style="color:white;background:#343a40;"><input type="file" name="file" onclick="myFunction()"></button>
    <p>Only accepts CSV files</p>
    <button type="submit" style="background:#343a40;border-radius:10px;color:white;width:100px;">Upload</button>
    <!-- {{form}} -->
  </form>
{% endif %}

<!-- <p id="demo"></p>

<script>
function myFunction() {
  var x = document.getElementById("myFile").value;
  console.log(x);
}
</script -->
{% endif %}
{% endblock %}
