{% extends 'template_base.html' %}
{% block content %}
<h1>Add Project</h1>
<p>Success!! Project has been added with following details</p>
<p>Title: {{obj.prTitle}}</p>
<p>Desc: {{obj.prDesc}}</p>
<br>
<table>
  <tr>
    <th>Budget Head</th>
    <th>Budget Amount</th>
    <th>Budget Balance</th>
  </tr>
  {% for i in budget %}
  <tr>
    <td>{{ i.bhTitle }}</td>
    <td>{{ i.bhLimit }}</td>
    <td>{{ i.bhBalance }}</td>
  </tr>
  {% endfor %}
</table>
<br>
 <button> <a href="{% url 'addprojectpdf' %}">Print Details</a> </button>
{% endblock %}
