{% extends 'template_base.html' %}
{% block content %}
<h2>Categorize Payment</h2>
{% for i in obj %}
<p>Date:- {{ i.txnDate }}</p>
<p>Desc:- {{ i.txnDesc}} </p>
<p>Amount:- {{ i.txnValue }}</p>
{% endfor %}
{% if success %}
<p>{{ success }}</p>
{% endif %}
{% if not success and not categorize %}
<form method="POST">
  {% csrf_token %}
  {{ form.as_p}}
  <input type="submit" value="Save">
</form>
{% endif %}
{% if categorize == "expense" %}
<form method="POST">
  {% csrf_token %}
<table border="1">
  <tr>
    <th>ptcID</th>
    <th>Value</th>
    <th>Project</th>
    <th>Date</th>
    <th>Select</th>
  </tr>
{% for j in txnid_null %}
<tr>
  <td>{{ j.id }}</td>
  <td>{{ j.ptcValue }}</td>
  <td>{{ j.prID }}</td>
  <td>{{ j.ptcDate }}</td>
  <td> <a href="{% url 'categorize' txnID j.pk %}">Select this</a> </td>
</tr>
{% endfor %}
</table>

</form>
{% endif %}
{% if error %}
<p>{{ error }}</p>
{% endif %}

{% if categorize == "employee transfer" %}
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name="EmployeeTransferForm" value="Submit">
</form>
{% endif %}
{% endblock %}
