{% extends 'base.html' %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  Select Account:
  <select id="mySelect">
    <option value="1">Main</option>
    <option value="2">Birac</option>
  </select>
</form>
<button type="button" onclick="myFunction()">Submit</button>

<h1>{{obj}}</h1
<h1>javascript variable value:{{jsvalue}}</h1><br>

<strong>Note:</strong> <p>{{order}}</p>
{% if messages %}
  {% for message in messages %}
    <div>
      <strong>{{message|safe}}</strong>
    </div>
    {% endfor %}
{% else %}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label>Upload a file</label>
  <input type="file" name="file">
  <p>Only accepts CSV files</p>
  <button type="submit">Upload</button>
</form>
{% endif %}

<script>
function myFunction() {
  var val = document.getElementById("mySelect").value;
  console.log(val);


}
</script>
{% endblock %}
