{% extends 'template_base.html' %}
{% block content %}
{% block extra_head %}
<style>
th{
  font-size:18px;
}

</style>
{% endblock %}
<h1 style="text-align:center;font-size:50px;border:1px solid black;"><b>Financial Accounts</b></h1>
<br>

<div class="col-md-12">
<div class="card">
  <div class="card-header with-border">
<h2><b>Overview</b></h2>
  </div>
  <div class="card-body">
<table class="table table-striped table-bordered">
  <tr>
    <th>Balance</th>
    <th>Unconfirmed</th>
    <th>Declined</th>
  </tr>
  <tr>
    {% if overview == "empty" %}
    <td>No records available</td>
    <td></td>
    <td></td>
    {% else %}
    {% for j in overview %}
    <td>{{j.uBalance}}</td>
    <td>{{j.uUnconfirmed}}</td>
    <td>{{j.uDeclined}}</td>
    {% endfor %}
    {% endif %}
  </tr>
</table>
</div>
</div></div>


<div class="col-sm-12">
<div class="card">
  <div class="card-header with-border">
    <h2><b>Transaction for you to confirm</b></h2>
  </div>
  <div class="card-body">
<form method="POST">
  {% csrf_token %}
  <div>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Cr/Dr</th>
      <th>Value</th>
      <th>Accept</th>
      <th>Decline</th>
    </tr>

  {% for i in record %}
  <tr>
  <td>{{i.utanDate}}</td>
  <td>{{i.utranDesc}}</td>
  <td>Cr</td>
  <td>{{i.utranValue}}</td>
  <td> <a href="{% url 'accept' i.pk %}">Accept</a> </td>
  <td> <a href="{% url 'decline' i.pk %}">Decline</a> </td>
  </tr>
  {% endfor %}
  {% if not record_message %}
  <td>  No Unconfirmed Transactions  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  {% endif %}
  </table>
  </div>
</form>
</div>
</div>
</div>


<div class="col-md-12">
<div class="card">
  <div class="card-header with-border">
<h2><b>Statements</b></h2>
  </div>
  <div class="card-body">
<form method="POST">
  <table class="table table-striped table-bordered">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Cr/Dr</th>
      <th>Value</th>
      <th>Status</th>
    </tr>
    {% for i in record_confirmed_Cr %}
    <tr>
      <td>{{i.utanDate}}</td>
      <td>{{i.utranDesc}}</td>
      <td>CR</td>
      <td>{{i.utranValue}}</td>
      <td>Confirmed</td>
    </tr>
    {% endfor %}
    {% for j in record_confirmed_Dr %}
    <tr>
      <td>{{j.utanDate}}</td>
      <td>{{j.utranDesc}}</td>
      <td>DR</td>
      <td>{{j.utranValue}}</td>
      <td>Confirmed</td>
    </tr>
    {% endfor %}
    {% if not record_confirmed_message %}
    <td>No Transaction Credited or Debited</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    {% endif %}

  </table>
</form>
</div>
</div></div>
{% endblock %}
