<h2>Overview</h2>
<table>
  <tr>
    <th>Balance</th>
    <th>Unconfirmed</th>
    <th>Declined</th>
  </tr>
  <tr>
    {% for j in overview %}
    <td>{{j.uBalance}}</td>
    <td>{{j.uUnconfirmed}}</td>
    <td>{{j.uDeclined}}</td>
    {% endfor %}
  </tr>
</table>
<h2>Transaction for you to confirm</h2>
<form method="POST">
  {% csrf_token %}
  <table>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Cr/Dr</th>
      <th>Value</th>
      <th>Accept</th>
      <th>Decline</th>
    </tr>
  {% for i in record %}
  <tr>
  <td>{{i.utanDate}}</td>
  <td>{{i.utranDesc}}</td>
  <td>Cr</td>
  <td>{{i.utranValue}}</td>
  <td> <a href="{% url 'accept' i.pk %}">Accept</a> </td>
  <td> <a href="{% url 'decline' i.pk %}">Decline</a> </td>
  </tr>
  {% endfor %}
  </table>
</form>
{% if not record_message %}
<p>  No Unconfirmed Transactions  </p>
{% endif %}

<h2>Statements</h2>
<form method="POST">
  <table>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Cr/Dr</th>
      <th>Value</th>
      <th>Status</th>
    </tr>
    {% for i in record_confirmed_Cr %}
    <tr>
      <td>{{i.utanDate}}</td>
      <td>{{i.utranDesc}}</td>
      <td>CR</td>
      <td>{{i.utranValue}}</td>
      <td>Confirmed</td>
    </tr>
    {% endfor %}
    {% for j in record_confirmed_Dr %}
    <tr>
      <td>{{j.utanDate}}</td>
      <td>{{j.utranDesc}}</td>
      <td>DR</td>
      <td>{{j.utranValue}}</td>
      <td>Confirmed</td>
    </tr>
    {% endfor %}
  </table>
</form>
{% if not record_confirmed_message %}
<p>No Transaction Credited or Debited</p>
{% endif %}
