{% extends 'template_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% block extra_head %}
<style>
 .control-label{
   font-size:30px;
 }
 #id_prID{
   width:200px;
 }
 #id_choices_ptc_e_or_d{
   width:200px;
 }
 </style>
{% endblock %}
<h1 style="text-align:center;font-size:70px;border:1px solid black;"><b>Petty Cash Form</b></h1>
{% if user_access == 'No' %}
<h1>You cannot access this feature</h1>
{% else %}
{% if e %}
<script>
  alert("{{e}}");
</script>
{% endif %}
{% if form%}
<form action="" method="POST" >
  <br>
  {% csrf_token %}
  {{form|crispy}}
  <br>
  <input type="submit" name="ptcprojectform" value="Submit" style="background:#343a40;border-radius:10px;color:white;width:100px;">
</form>
{% endif %}
{% if form_trans %}
<div style="width:100%;">
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <br>
  {{ ptc_D_OR_E|crispy }}
  <br>
  <hr>
  1. {{ form_trans.as_table }}
  <input type="file" name="file" style="padding-left:15px;">
  <hr>
  2. {{ form_trans2.as_table }}
  <input type="file" name="file2" style="padding-left:15px;"><hr>
  3. {{ form_trans3.as_table }}
  <input type="file" name="file3" style="padding-left:15px;"><hr>
  4. {{ form_trans4.as_table }}
  <input type="file" name="file4" style="padding-left:15px;"><hr>
  5. {{ form_trans5.as_table }}
  <input type="file" name="file5" style="padding-left:15px;"><hr>
  6. {{ form_trans6.as_table }}
  <input type="file" name="file6" style="padding-left:15px;"><hr>
  7. {{ form_trans7.as_table }}
  <input type="file" name="file7" style="padding-left:15px;"><hr>
  8. {{ form_trans8.as_table }}
  <input type="file" name="file8" style="padding-left:15px;"><hr>
  9. {{ form_trans9.as_table }}
  <input type="file" name="file9" style="padding-left:15px;"><hr>
  10. {{ form_trans10.as_table }}
  <input type="file" name="file10" style="padding-left:25px;"><hr>
  11. {{ form_trans11.as_table }}
  <input type="file" name="file11" style="padding-left:25px;"><hr>
  12. {{ form_trans12.as_table }}
  <input type="file" name="file12" style="padding-left:25px;"><hr>
  13. {{ form_trans13.as_table }}
  <input type="file" name="file13" style="padding-left:25px;"><hr>
  14. {{ form_trans14.as_table }}
  <input type="file" name="file14" style="padding-left:25px;"><hr>
  15. {{ form_trans15.as_table }}
  <input type="file" name="file15" style="padding-left:25px;"><hr>

  <br><input type="submit" name="ptctransform" value="Submit" style="background:#343a40;border-radius:10px;color:white;width:100px;">

</form>
</div>
{% endif %}
{% if show_result == 'Yes' %}
<br>
<h1><b>Form Submitted Succesfully for the project manager to approve it.</b></h1>
<table class="table table-striped table-bordered"style="width:50%;">
  <tr>
    <th>Head</th>
    <th>Head Total</th>
  </tr>
  {% for i in li %}
  <tr>
    <td>{{ i.0 }}</td>
    <td>{{ i.1 }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td>Grand Total</td>
    <td>{{ sum }}</td>
  </tr>
</table>
<br>
{% endif %}
{% endif %}
{% endblock %}
