      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->


          <li class="nav-item">
            <a href="{% url 'addproject' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Project
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="{% url 'account_type' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Upload Statement
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{% url 'transferMoney' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Transfer Money
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{% url 'financialAccount' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Financial Accounts
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{% url 'ptc_project' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Petty Cash Form
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{% url 'check-statement' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Check Statement
              </p>
            </a>
          </li>


          <li class="nav-item">
            <a href="{% url 'view-statement' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                View Statement
              </p>
            </a>
          </li>



          <li class="nav-item">
            <a href="{% url 'view-project' %}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                View Project
              </p>
            </a>
          </li>



        </ul>
      </nav>
