{% extends 'template_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% block extra_head %}
<style>
label{
  font-size:20px;
}
#id_utranValue{
  width:300px;
}
#id_utranDesc{
  width:300px;
}
select{
  width:300px;
}
</style>
{% endblock %}
<h1 style="text-align:center;font-size:50px;border:1px solid black;"><b>Transfer Money</b></h1>
{% if user_access == 'No' %}
<h1>You cannot access this feature</h1>
{% else %}
{% if form %}
<form method="POST">
  <br>
  {% csrf_token %}
  {{ form|crispy }}
  <br>

  <button type="submit" style="background:#343a40;border-radius:10px;color:white;width:100px;">Submit</button>
</form>
{% endif %}
{% if success %}
<p>Hello</p>
{% endif %}
{% endif %}
{% endblock %}
