{% extends 'template_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% block extra_head %}
<style>
  label{
    font-size:30px;
  }
  select{
    width:200px;
  }
</style>
{% endblock %}
<h1 style="text-align:center;font-size:50px;border:1px solid black;"><b>View Statement(Accountant)</b></h1> <br>
{% if user_access == 'No' %}
<h2>You cannot access this feature</h2>
{% else %}
{% if form %}

<form method="POST">
  <br>
  {% csrf_token %}
  {{form|crispy}}
  <br><input type="Submit" name="viewstatementform" value="Submit" style="background:#343a40;border-radius:10px;color:white;width:200px;height:40px;">
</form>

{% endif %}
{% if obj %}
<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>Value Date</th>
    <th>Desc</th>
    <th>Cr/Dr</th>
    <th>Amount</th>
    <th>Type</th>
    <th>Detail</th>
    <th>Accounted</th>
    <th>Audited</th>
  </tr>
  {% for i in obj %}
  <tr>
    <td> {{ i.txnID }} </td>
    <td> {{ i.txnDate }} </td>
    <td> {{ i.txnDesc }} </td>
    <td> {{ i.txnDir }} </td>
    <td> {{ i.txnValue }} </td>
    <td> {{ i.txnType }} </td>
    {% if i.txnType == "E" %}
    <td> <a href="{% url 'expense-list' i.ptcID %}">Details</a> </td>
    {% else %}
    <td> <a href="">Details</a> </td>
    {% endif %}
    {% if i.txnAccounted == 1 %}
    <td>Yes</td>
    {% else %}
    <td> <a href="{% url 'mark-account' i.txnID %}">Mark Account</a> </td>
    {% endif %}
    {% if i.txnAudited == 1 %}
    <td> Yes</td>
    {% else %}
    <td> No</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endif %}
{% if error %}
<p>{{ error }}</p>
{% endif %}
{% if message %}
<p>{{ message }}</p>
{% endif %}
{% endif %}
{% endblock %}
